@model ProspectosModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Prospecto
    </div>
    <div class="card-body">
        <div>
            <form asp-action="Subir_Archivo" asp-controller="Mantenedor" method="post" enctype="multipart/form-data">
                
                <input asp-for="IdProspecto" type="hidden" class="form-control" />
                <label>Solo subir archivos PDF:</label>
                <input name="documento" type="file" accept="application/pdf" />
                <button class="btn btn-success" type="submit">Enviar</button>
            </form>
        </div>
        <div>
            </br>
        </div>
        <form asp-action="Editar" asp-controller="Mantenedor" method="post">

            <input asp-for="IdProspecto" type="hidden" class="form-control" />

            <div class="mb-3">
                <label class="form-label">Nombre del Prospecto</label>
                <input asp-for="nombredelProspecto" type="text" class="form-control" />
                <span asp-validation-for="nombredelProspecto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Primer Apellido</label>
                <input asp-for="primerApellido" type="text" class="form-control" />
                <span asp-validation-for="primerApellido" class="text-danger"></span>
                <div class="mb-3">
                    <label class="form-label">Segundo Apellido</label>
                    <input asp-for="segundoApellido" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Calle</label>
                    <input asp-for="calle" type="text" class="form-control" />
                    <span asp-validation-for="calle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Numero</label>
                    <input asp-for="numero" type="text" class="form-control" />
                    <span asp-validation-for="numero" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Colonia</label>
                    <input asp-for="colonia" type="text" class="form-control" />
                    <span asp-validation-for="colonia" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Codigo Postal</label>
                    <input asp-for="codigoPostal" type="text" class="form-control" />
                    <span asp-validation-for="codigoPostal" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input asp-for="telefono" type="text" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">RFC</label>
                    <input asp-for="rfc" type="text" class="form-control" />
                    <span asp-validation-for="rfc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Motivo Rechazo</label>
                    <input asp-for="motivoRechazo" type="text" class="form-control" disabled/>                    
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>            
        </form>
        <div>
            </br>
        </div>

        @if (Model.estatus == 2){
            <div>
                <form asp-action="Aceptar" asp-controller="Mantenedor" method="post">
                    <input asp-for="IdProspecto" type="hidden" class="form-control" />
                    <button type="submit" class="btn btn-success">Aceptar</button>
                </form>
                <a asp-action="MotivoRechazo" asp-controller="Mantenedor" class="btn btn-danger btn-sm" asp-route-IdProspecto=@Model.IdProspecto>Rechazar</a>
            </div>
        }

        <div>
            <button class="btn btn-info" onclick="descargarArchivo()">descargar archivo</button>
        </div>
    </div>     
</div>
<script>
    function descargarArchivo() {
        
        console.log("IdProspecto", $("#IdProspecto").val())

        $.ajax({
            url: "../../Mantenedor/descargarArchivo",
            type: "POST",
            data: {
                IdProspecto: $("#IdProspecto").val()
            },
            dataType: "json",           
            complete: function (d) {
                var byteCharacters = atob(d.responseText);
                var byteNumbers = new Array(byteCharacters.length);
                for (var i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }
                var byteArray = new Uint8Array(byteNumbers);
                var file = new Blob([byteArray], { type: 'application/pdf;base64' });
                var fileURL = URL.createObjectURL(file);
                window.open(fileURL);
            }
        });
          
        
    }
</script>
